In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/SENG 607/Ruby/processedData_Ruby.csv')
df.head()

   Unnamed: 0  ...  tracker
0           0  ...  Feature
1           1  ...  Feature
2           2  ...  Feature
3           3  ...  Feature
4           4  ...  Feature

[5 rows x 10 columns]

In [ ]:
df.drop(['Unnamed: 0','Project','created_on','status','subject','tracker'],inplace=True,axis=1)

In [ ]:
print(df.shape)
print(df.isnull().sum())

(3600, 4)
dependencies     2598
desc                5
id                  0
relationCount       0
dtype: int64

In [ ]:
df.dropna(subset=['dependencies','desc'],inplace=True)
df = df.reset_index(drop=True)

In [ ]:
df.head()

                           dependencies  ... relationCount
0                    15628relates17525#  ...             1
1  15743relates17500#15752relates17500#  ...             2
2                  17496duplicates4897#  ...             1
3                    17485relates17504#  ...             1
4                     8804relates17474#  ...             1

[5 rows x 4 columns]

In [ ]:
print(df.shape)
print(df.isnull().sum())

(1002, 4)
dependencies     0
desc             0
id               0
relationCount    0
dtype: int64

Creating Dependent Pairs

In [ ]:
import re
id1 = []
id2 = []
desc1 = []
desc2 = []
dependency  = []

for i in range(1002):
  a = df['dependencies'][i]
  a = a.split('#')
  for j in range(len(a)-1):
    b = a[j]
    temp = re.findall(r'\d+', b)                         # For extracting id's
    r = list(map(int, temp))
    id1.append(r[0])
    id2.append(r[1])

    c = df[df['id']==r[0]]['desc'].to_string()          # For extracting description wrt to each id
    c1 = df[df['id']==r[1]]['desc'].to_string() 
    desc1.append(c[5:])
    desc2.append(c1[5:])

    temp1 = str(r[0])
    temp2 = str(r[1])
    result = re.search(f'{temp1}(.*){temp2}',b).group(1) # For extracting type of dependency
    dependency.append(result)

In [ ]:
df1 = pd.DataFrame({'id1':id1,'Description1':desc1,'id2':id2,'Description2':desc2,'Type of dependency':dependency})
df1.head(10)

     id1  ... Type of dependency
0  15628  ...            relates
1  15743  ...            relates
2  15752  ...            relates
3  17496  ...         duplicates
4  17485  ...            relates
5   8804  ...            relates
6  17273  ...            relates
7  17384  ...         duplicates
8  17374  ...            relates
9  17365  ...            relates

[10 rows x 5 columns]

In [ ]:
df1.shape

(1613, 5)

In [ ]:
# Deleting empty lists
l1 = []
l2 = []
for i in range(1613):
  if df1['Description1'][i] == 's([], )':
    l1.append(i)
  if df1['Description2'][i] == 's([], )':
    l2.append(i)
l = list(set(l1+l2))
print(len(l))

df1.drop(l,inplace = True)
df1 = df1.reset_index(drop = True)

393

In [ ]:
df1.head()

     id1  ... Type of dependency
0  15628  ...            relates
1  15743  ...            relates
2  15752  ...            relates
3  17496  ...         duplicates
4   8804  ...            relates

[5 rows x 5 columns]

In [ ]:
print(df1.shape)
print(df1.isnull().sum())

(1220, 5)
id1                   0
Description1          0
id2                   0
Description2          0
Type of dependency    0
dtype: int64

In [ ]:
# Sentence length analysis
q1 = []
q = df1['Description1']
p = df1['Description2']
for i in range(len(q)):
  if len(q[i])<5:
    q1.append(i)
for i in range(len(p)):
  if len(p[i])<5:
    q1.append(i)

print(q1) 
df1.drop(q1,inplace = True)
df1 = df1.reset_index(drop = True)

[]

In [ ]:
df1.head()

     id1  ... Type of dependency
0  15628  ...            relates
1  15743  ...            relates
2  15752  ...            relates
3  17496  ...         duplicates
4   8804  ...            relates

[5 rows x 5 columns]

In [ ]:
print(df1.shape)
print(df1.isnull().sum())
print(df1['Type of dependency'].value_counts())

(1220, 5)
id1                   0
Description1          0
id2                   0
Description2          0
Type of dependency    0
dtype: int64
relates       902
duplicates    284
blocks         22
precedes        8
copied_to       4
Name: Type of dependency, dtype: int64

In [ ]:
#df1.to_csv('/content/drive/MyDrive/SENG 607/Ruby/Ruby_Pos.csv')

Creating Independent Pairs

In [ ]:
df2 = pd.read_csv('/content/drive/MyDrive/SENG 607/Ruby/processedData_Ruby.csv')
df2.drop(['Unnamed: 0','Project','created_on','status','subject','tracker'],inplace=True,axis=1)
df2.dropna(subset=['desc'],inplace=True)
df2.head()

  dependencies  ... relationCount
0          NaN  ...             0
1          NaN  ...             0
2          NaN  ...             0
3          NaN  ...             0
4          NaN  ...             0

[5 rows x 4 columns]

In [ ]:
df2['relationCount'].value_counts()

0     2593
1      665
2      213
3       69
4       26
5       13
6        9
7        3
27       1
23       1
13       1
8        1
Name: relationCount, dtype: int64

In [ ]:
i1 = []
i2 = []
d1 = []
d2 = []

n = df2[df2['relationCount']==0]['id'].values

for i in range(10000):
  d = np.random.choice(n,size=2)
  i1.append(d[0])
  i2.append(d[1])

  c = df2[df2['id']==d[0]]['desc'].to_string()          # For extracting description wrt to each id
  c1 = df2[df2['id']==d[1]]['desc'].to_string()
  d1.append(c[5:])
  d2.append(c1[5:])

In [ ]:
df3 = pd.DataFrame({'id1':i1,'Description1':d1,'id2':i2,'Description2':d2})
df3.head()

     id1  ...                                       Description2
0  10318  ...    There's a really common mistake people make ...
1   6521  ...    In keeping with other class semantics, Set s...
2   5692  ...     It would be great to have some function (li...
3   3627  ...     =begin\n 絵文字に対応したエンコーディングを実装しました。\r\n これらを ...
4  15982  ...     Currently the only way to load an Instructi...

[5 rows x 4 columns]

In [ ]:
def ext(x):
  return 'independent'
df3['Type of dependency'] = df3['id1'].apply(ext)
df3.head()

     id1  ... Type of dependency
0  10318  ...        independent
1   6521  ...        independent
2   5692  ...        independent
3   3627  ...        independent
4  15982  ...        independent

[5 rows x 5 columns]

In [ ]:
# Sentence length analysis
q1 = []
q2 = []
q = df3['Description1']
p = df3['Description2']
for i in range(len(q)):
  if len(q[i])<5:
    q1.append(i)
for i in range(len(p)):
  if len(p[i])<5:
    q2.append(i)

print(q1)
print(q2)

w = list(set(q1+q2))
df3.drop(w,inplace=True)
df3 = df3.reset_index(drop=True)

[]
[]

In [ ]:
df3.head()

     id1  ... Type of dependency
0  10318  ...        independent
1   6521  ...        independent
2   5692  ...        independent
3   3627  ...        independent
4  15982  ...        independent

[5 rows x 5 columns]

In [ ]:
print(df3.shape)
print(df3.isnull().sum())

(10000, 5)
id1                   0
Description1          0
id2                   0
Description2          0
Type of dependency    0
dtype: int64

In [ ]:
#df3.to_csv('/content/drive/MyDrive/SENG 607/Ruby/Ruby_Neg.csv')

Processed Dependent Pairs

In [ ]:
df4 = pd.read_csv('/content/drive/MyDrive/SENG 607/Ruby/Ruby_Processed_Pos_init.csv')
df4.drop(['Unnamed: 0'],axis=1,inplace=True)
df4.head()

     id1  ... Type of dependency
0  15628  ...            relates
1  15743  ...            relates
2  15752  ...            relates
3  17496  ...         duplicates
4   8804  ...            relates

[5 rows x 5 columns]

In [ ]:
df4.isnull().sum()

id1                    0
Description1           6
id2                    0
Description2          20
Type of dependency     0
dtype: int64

In [ ]:
df4.dropna(inplace=True)
df4 = df4.reset_index(drop=True)

In [ ]:
y1,y2 = [],[]
y = df4['Description1']
z = df4['Description2']
for i in range(len(y)):
  q = y[i].split(' ')
  if len(q) <2:
    y1.append(i)
for i in range(len(y)):
  q1 = z[i].split(' ')
  if len(q1) <2:
    y2.append(i)
print(len(y1))
print(len(y2))
q2 = list(set(y1+y2))
df4.drop(q2,inplace=True)
df4 = df4.reset_index(drop=True)

32
38

In [ ]:
def isEnglish(s):
  return s.isascii()

a1 , a2 = [] , []
a = df4['Description1'].values
b = df4['Description2'].values

for i in range(len(a)):
  if isEnglish(a[i])==False:
    a1.append(i)
for j in range(len(b)):
  if isEnglish(b[j])==False:
    a2.append(j)

print(len(a1))
print(len(a2))
a3 = list(set(a1+a2))
print(len(a3))

df4.drop(a3,inplace=True)
df4 = df4.reset_index(drop=True)

26
54
74

Final Processed Dependent

In [ ]:
df4.head()

     id1  ... Type of dependency
0  15743  ...            relates
1  15752  ...            relates
2  17496  ...         duplicates
3   8804  ...            relates
4  17273  ...            relates

[5 rows x 5 columns]

In [ ]:
print(df4.shape)
print(df4.isnull().sum())

(1052, 5)
id1                   0
Description1          0
id2                   0
Description2          0
Type of dependency    0
dtype: int64

In [ ]:
df4['Type of dependency'].value_counts()

relates       768
duplicates    252
blocks         20
precedes        8
copied_to       4
Name: Type of dependency, dtype: int64

In [ ]:
#df4.to_csv('/content/drive/MyDrive/SENG 607/Ruby/Ruby_Processed_ALPos.csv')

Processed independent Pairs

In [ ]:
df5 = pd.read_csv('/content/drive/MyDrive/SENG 607/Ruby/Ruby_Processed_Neg_init.csv')
df5.drop(['Unnamed: 0'],axis=1,inplace=True)
df5.head()

     id1  ... Type of dependency
0  10318  ...        independent
1   6521  ...        independent
2   5692  ...        independent
3   3627  ...        independent
4  15982  ...        independent

[5 rows x 5 columns]

In [ ]:
df5.isnull().sum()

id1                     0
Description1          112
id2                     0
Description2          107
Type of dependency      0
dtype: int64

In [ ]:
df5.dropna(inplace=True)
df5 = df5.reset_index(drop=True)

In [ ]:
y1,y2 = [],[]
y = df5['Description1']
z = df5['Description2']
for i in range(len(y)):
  q = y[i].split(' ')
  if len(q) <2:
    y1.append(i)
for i in range(len(y)):
  q1 = z[i].split(' ')
  if len(q1) <2:
    y2.append(i)
print(len(y1))
print(len(y2))
q2 = list(set(y1+y2))
df5.drop(q2,inplace=True)
df5 = df5.reset_index(drop=True)

370
374

In [ ]:
df5.head(10)

     id1  ... Type of dependency
0  10318  ...        independent
1   6521  ...        independent
2   5692  ...        independent
3   3627  ...        independent
4  15982  ...        independent
5   5196  ...        independent
6  14114  ...        independent
7  12721  ...        independent
8   9143  ...        independent
9   5512  ...        independent

[10 rows x 5 columns]

In [ ]:
def isEnglish(s):
  return s.isascii()

a1 , a2 = [] , []
a = df5['Description1'].values
b = df5['Description2'].values

for i in range(len(a)):
  if isEnglish(a[i])==False:
    a1.append(i)
for j in range(len(b)):
  if isEnglish(b[j])==False:
    a2.append(j)

print(len(a1))
print(len(a2))
a3 = list(set(a1+a2))
print(len(a3))

df5.drop(a3,inplace=True)
df5 = df5.reset_index(drop=True)

653
642
1254

In [ ]:
df5.head()

     id1  ... Type of dependency
0  10318  ...        independent
1   6521  ...        independent
2   5692  ...        independent
3  15982  ...        independent
4  14114  ...        independent

[5 rows x 5 columns]

In [ ]:
print(df5.shape)
print(df5.isnull().sum())

(7799, 5)
id1                   0
Description1          0
id2                   0
Description2          0
Type of dependency    0
dtype: int64

In [ ]:
#df5.to_csv('/content/drive/MyDrive/SENG 607/Ruby/Ruby_Processed_ALNeg.csv')

BERT

In [ ]:
df6 = pd.read_csv('/content/drive/MyDrive/SENG 607/Ruby/Ruby_Processed_BERTPos_init.csv')
df6.drop(['Unnamed: 0'],axis=1,inplace=True)
df6.head()

     id1  ... Type of dependency
0  15628  ...            relates
1  15743  ...            relates
2  15752  ...            relates
3  17496  ...         duplicates
4   8804  ...            relates

[5 rows x 5 columns]

In [ ]:
df6.isnull().sum()

id1                   0
Description1          4
id2                   0
Description2          4
Type of dependency    0
dtype: int64

In [ ]:
df6.dropna(inplace=True)
df6 = df6.reset_index(drop=True)

In [ ]:
def isEnglish(s):
  return s.isascii()

a1 , a2 = [] , []
a = df6['Description1'].values
b = df6['Description2'].values

for i in range(len(a)):
  if isEnglish(a[i])==False:
    a1.append(i)
for j in range(len(b)):
  if isEnglish(b[j])==False:
    a2.append(j)

print(len(a1))
print(len(a2))
a3 = list(set(a1+a2))
print(len(a3))

df6.drop(a3,inplace=True)
df6 = df6.reset_index(drop=True)

40
68
98

In [ ]:
df6.head()

     id1  ... Type of dependency
0  15743  ...            relates
1  15752  ...            relates
2  17496  ...         duplicates
3   8804  ...            relates
4  17273  ...            relates

[5 rows x 5 columns]

In [ ]:
df6.isnull().sum()

id1                   0
Description1          0
id2                   0
Description2          0
Type of dependency    0
dtype: int64

In [ ]:
#df6.to_csv('/content/drive/MyDrive/SENG 607/Ruby/Ruby_Processed_BERTPos.csv')

In [ ]:
df7 = pd.read_csv('/content/drive/MyDrive/SENG 607/Ruby/Ruby_Processed_BERTNeg_init.csv')
df7.drop(['Unnamed: 0'],axis=1,inplace=True)
df7.head()

     id1  ... Type of dependency
0  10318  ...        independent
1   6521  ...        independent
2   5692  ...        independent
3   3627  ...        independent
4  15982  ...        independent

[5 rows x 5 columns]

In [ ]:
df7.isnull().sum()

id1                    0
Description1          86
id2                    0
Description2          74
Type of dependency     0
dtype: int64

In [ ]:
df7.dropna(inplace=True)
df7 = df7.reset_index(drop=True)

In [ ]:
def isEnglish(s):
  return s.isascii()

a1 , a2 = [] , []
a = df7['Description1'].values
b = df7['Description2'].values

for i in range(len(a)):
  if isEnglish(a[i])==False:
    a1.append(i)
for j in range(len(b)):
  if isEnglish(b[j])==False:
    a2.append(j)

print(len(a1))
print(len(a2))
a3 = list(set(a1+a2))
print(len(a3))

df7.drop(a3,inplace=True)
df7 = df7.reset_index(drop=True)

813
772
1525

In [ ]:
df7.head()

     id1  ... Type of dependency
0  10318  ...        independent
1   6521  ...        independent
2   5692  ...        independent
3  15982  ...        independent
4  14114  ...        independent

[5 rows x 5 columns]

In [ ]:
df7.isnull().sum()

id1                   0
Description1          0
id2                   0
Description2          0
Type of dependency    0
dtype: int64

In [ ]:
#df7.to_csv('/content/drive/MyDrive/SENG 607/Ruby/Ruby_Processed_BERTNeg.csv')