In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/SENG 607/processedData_Dataminer.csv')
df.head()

   Unnamed: 0  ...  tracker
0           0  ...  Feature
1           1  ...  Feature
2           2  ...  Feature
3           3  ...  Feature
4           4  ...  Feature

[5 rows x 10 columns]

In [3]:
df.drop(['Unnamed: 0','created_on','tracker','status'],axis=1,inplace=True)
df= df.dropna(subset=['desc']).reset_index(drop=True)

In [4]:
df.head()

   Project  ...                                            subject
0  Redmine  ...                            Group by parent project
1  Redmine  ...                                  Always trim title
2  Redmine  ...  Setting to change the maximum number to displa...
3  Redmine  ...    Add keyboard shortcuts for wiki toolbar buttons
4  Redmine  ...                      Assign Tickets only to groups

[5 rows x 6 columns]

In [5]:
df1= df.dropna(subset=['dependencies']).reset_index(drop=True)

In [6]:
df1.head()

   Project  ...                                            subject
0  Redmine  ...  Setting to change the maximum number to displa...
1  Redmine  ...    Add keyboard shortcuts for wiki toolbar buttons
2  Redmine  ...  Don't show "Two-factor authentication" on new ...
3  Redmine  ...  Make archived projects visually distinguishabl...
4  Redmine  ...                              Remove jQuery Migrate

[5 rows x 6 columns]

In [7]:
df1.isnull().sum()

Project          0
dependencies     0
desc             0
id               0
relationCount    0
subject          0
dtype: int64

In [8]:
df1.shape

(3401, 6)

In [9]:
import re
id1 = []
id2 = []
desc1 = []
desc2 = []
dependency  = []

for i in range(3401):
  a = df1['dependencies'][i]
  a = a.split('#')
  for j in range(len(a)-1):
    b = a[j]
    temp = re.findall(r'\d+', b)                         # For extracting id's
    r = list(map(int, temp))
    id1.append(r[0])
    id2.append(r[1])

    c = df1[df1['id']==r[0]]['desc'].to_string()          # For extracting description wrt to each id
    c1 = df1[df1['id']==r[1]]['desc'].to_string() 
    desc1.append(c[5:])
    desc2.append(c1[5:])

    temp1 = str(r[0])
    temp2 = str(r[1])
    result = re.search(f'{temp1}(.*){temp2}',b).group(1) # For extracting type of dependency
    dependency.append(result)

In [10]:
df2 = pd.DataFrame({'id1':id1,'Description1':desc1,'id2':id2,'Description2':desc2,'Type of dependency':dependency})
df2.head(10)

     id1  ... Type of dependency
0  34556  ...            relates
1  30459  ...             blocks
2  34495  ...            relates
3  34340  ...            relates
4  33383  ...            relates
5  34336  ...            relates
6  34258  ...            relates
7  34241  ...            relates
8  34142  ...            relates
9  27780  ...            relates

[10 rows x 5 columns]

In [11]:
# Deleting empty lists
l1 = []
l2 = []
for i in range(6810):
  if df2['Description1'][i] == 's([], )':
    l1.append(i)
  if df2['Description2'][i] == 's([], )':
    l2.append(i)
l = list(set(l1+l2))

In [12]:
df2.drop(l,inplace = True)

In [13]:
df2 = df2.reset_index(drop = True)

**Final DataFrame**

In [14]:
df2.head(10)

     id1  ... Type of dependency
0  34556  ...            relates
1  30459  ...             blocks
2  34495  ...            relates
3  34340  ...            relates
4  33383  ...            relates
5  34258  ...            relates
6  34241  ...            relates
7  29473  ...           precedes
8  33884  ...            relates
9  33834  ...            relates

[10 rows x 5 columns]

In [15]:
y1,y2 = [],[]
y = df2['Description1']
z = df2['Description2']
for i in range(len(y)):
  q = y[i].split(' ')
  if len(q) <2:
    y1.append(i)
for i in range(len(y)):
  q1 = z[i].split(' ')
  if len(q1) <2:
    y2.append(i)
print(len(y1))
print(len(y2))
#q2 = list(set(y1+y2))
#df2.drop(q2,inplace=True)
#df2 = df2.reset_index(drop=True)

0
0

In [16]:
df2.shape

(5224, 5)

In [17]:
df2['Type of dependency'].value_counts()

relates       2824
duplicates    2326
blocks          36
copied_to       20
precedes        18
Name: Type of dependency, dtype: int64

In [18]:
df2.isnull().sum()

id1                   0
Description1          0
id2                   0
Description2          0
Type of dependency    0
dtype: int64

In [21]:
#df2.to_csv('/content/drive/MyDrive/SENG 607/Redmine_Pos_modified.csv')

**Creating independent pairs**

In [29]:
df['relationCount'].value_counts()

0     3418
1     2110
2      607
3      289
4      143
5       76
6       41
7       29
8       27
9       18
10      16
13      10
11       9
12       9
16       3
17       3
28       2
24       2
27       1
23       1
14       1
18       1
22       1
15       1
21       1
Name: relationCount, dtype: int64

In [30]:
i1 = []
i2 = []
d1 = []
d2 = []

n = df[df['relationCount']==0]['id'].values

for i in range(10000):
  d = np.random.choice(n,size=2)
  i1.append(d[0])
  i2.append(d[1])

  c = df[df['id']==d[0]]['desc'].to_string()          # For extracting description wrt to each id
  c1 = df[df['id']==d[1]]['desc'].to_string()
  d1.append(c[5:])
  d2.append(c1[5:])

In [31]:
def ext(x):
  return 'independent'

In [32]:
df3 = pd.DataFrame({'id1':i1,'Description1':d1,'id2':i2,'Description2':d2})
df3.head()

     id1  ...                                       Description2
0   1497  ...     Hi,\r\n\r\nCan you add the option to add a ...
1  24188  ...     Dear All,\r\n\r\nUsers can create new issue...
2  10523  ...     I created an issue with lots of newlines. I...
3  12888  ...    The subject says it all... Please add the 4....
4  12559  ...     Hello, \r\nI usually use sub-projects. \r\n...

[5 rows x 4 columns]

In [34]:
df3['Type of dependency'] = df3['id1'].apply(ext)

In [35]:
df3.head()

     id1  ... Type of dependency
0   1497  ...        independent
1  24188  ...        independent
2  10523  ...        independent
3  12888  ...        independent
4  12559  ...        independent

[5 rows x 5 columns]

In [36]:
# Sentence Length Analysis
y1,y2 = [],[]
y = df3['Description1']
z = df3['Description2']
for i in range(len(y)):
  q = y[i].split(' ')
  if len(q) <2:
    y1.append(i)
for i in range(len(y)):
  q1 = z[i].split(' ')
  if len(q1) <2:
    y2.append(i)
print(len(y1))
print(len(y2))
q2 = list(set(y1+y2))
df3.drop(q2,inplace=True)
df3 = df3.reset_index(drop=True)

0
0

In [37]:
df3.head()

     id1  ... Type of dependency
0   1497  ...        independent
1  24188  ...        independent
2  10523  ...        independent
3  12888  ...        independent
4  12559  ...        independent

[5 rows x 5 columns]

In [38]:
df3.isnull().sum()

id1                   0
Description1          0
id2                   0
Description2          0
Type of dependency    0
dtype: int64

In [39]:
#df3.to_csv('/content/drive/MyDrive/SENG 607/Redmine_Neg_modified.csv')

**Processed Dependent Data**

In [ ]:
fd = pd.read_csv('/content/drive/MyDrive/SENG 607/AL_redmineP.csv')

In [ ]:
fd.drop(['Unnamed: 0'],axis=1,inplace=True)

In [ ]:
fd.head()

     id1  ... Type of dependency
0  34556  ...            relates
1  30459  ...             blocks
2  34495  ...            relates
3  34340  ...            relates
4  33383  ...            relates

[5 rows x 5 columns]

In [ ]:
fd.shape

(5224, 5)

In [ ]:
fd.isnull().sum()

id1                    0
Description1          22
id2                    0
Description2          14
Type of dependency     0
dtype: int64

In [ ]:
fd.dropna(inplace=True)
fd = fd.reset_index(drop=True)

In [ ]:
y1,y2 = [],[]
y = fd['Description1']
z = fd['Description2']
for i in range(len(y)):
  if len(str(y[i])) < 5 :
    y1.append(i)
for i in range(len(z)):
  if len(str(z[i])) < 5 :
    y2.append(i)
print(len(y1))
print(len(y2))
r = list(set(y1+y2))

0
0

In [ ]:
fd.shape

(5190, 5)

In [ ]:
a = fd[fd['id2']==3713]['Description2'].index
b = fd[fd['id2']==1255]['Description2'].index
a = list(a)
b = list(b)
c = a+b
fd.drop(c,inplace=True)
fd = fd.reset_index(drop=True)

In [ ]:
fd.head()

     id1  ... Type of dependency
0  34556  ...            relates
1  30459  ...             blocks
2  34495  ...            relates
3  34340  ...            relates
4  33383  ...            relates

[5 rows x 5 columns]

In [ ]:
fd.shape

(5186, 5)

In [ ]:
fd.isnull().sum()

id1                   0
Description1          0
id2                   0
Description2          0
Type of dependency    0
dtype: int64

In [ ]:
fd['Type of dependency'].value_counts()

relates       2804
duplicates    2310
blocks          36
copied_to       18
precedes        18
Name: Type of dependency, dtype: int64

In [ ]:
#fd.to_csv('/content/drive/MyDrive/Redmine_Processed_ALPos.csv')

**Independent pairs processed data**

In [ ]:
fd1 = pd.read_csv('/content/drive/MyDrive/SENG 607/AL_redmine_IndP.csv')

In [ ]:
fd1.drop(['Unnamed: 0'],axis=1,inplace=True)

In [ ]:
fd1.head()

     id1  ... Type of dependency
0   3314  ...        independent
1  27315  ...        independent
2  27211  ...        independent
3    547  ...        independent
4   4717  ...        independent

[5 rows x 5 columns]

In [ ]:
y1,y2 = [],[]
y = fd1['Description1']
z = fd1['Description2']
for i in range(len(y)):
  if len(str(y[i])) < 6 :
    y1.append(i)
for i in range(len(z)):
  if len(str(z[i])) < 6 :
    y2.append(i)
print(len(y1))
print(len(y2))
r = list(set(y1+y2))

346
334

In [ ]:
fd1.drop(r,inplace=True)
fd1 = fd1.reset_index(drop=True)

In [ ]:
fd1.head()

     id1  ... Type of dependency
0   3314  ...        independent
1  27315  ...        independent
2  27211  ...        independent
3    547  ...        independent
4   4717  ...        independent

[5 rows x 5 columns]

In [ ]:
u,u1 = [],[]
drop1 = [9152,6660,5843,5842,5848,2886,7897,4553,9153,6516,2338,8665,78662,7673,13170,8402,5841,4937,6106]
drop2 = [7196,6160,7862,2886,9251,4553,8752,8791,806,7869,6106,5377,8635,8791,13787,8260,8752,1255,342,9251]
drop = drop1+drop2
for i in drop:
  a = fd1[fd1['id2']==i]['Description2'].index
  a = list(a)
  for j in a:
    u.append(j)
print(len(u))

drop2 = [7196,6160,7862,2886,9251,4553,8752,8791,806,7869,6106,5377,8635,8791,13787,8260,8752,1255,342,9251]
for i in drop:
  b = fd1[fd1['id1']==i]['Description1'].index
  b = list(b)
  for j in b:
    u1.append(j)
print(len(u1))
s = list(set(u1+u))
print(len(s))

543
521
863

In [ ]:
fd1.drop(s,inplace=True)
fd1 = fd1.reset_index(drop=True)

In [ ]:
fd1.head()

     id1  ... Type of dependency
0   3314  ...        independent
1  27315  ...        independent
2  27211  ...        independent
3    547  ...        independent
4   4717  ...        independent

[5 rows x 5 columns]

In [ ]:
fd1.isnull().sum()

id1                   0
Description1          0
id2                   0
Description2          0
Type of dependency    0
dtype: int64

In [ ]:
#fd1.to_csv('/content/drive/MyDrive/Redmine_Processed_ALNeg.csv')

**BERT DATASET**

In [50]:
ber = pd.read_csv('/content/drive/MyDrive/SENG 607/Redmine_Processed_BERTPos_init_modified.csv')

In [51]:
ber.head()

   Unnamed: 0  ...  Type of dependency
0           0  ...             relates
1           1  ...              blocks
2           2  ...             relates
3           3  ...             relates
4           4  ...             relates

[5 rows x 6 columns]

In [52]:
ber.isnull().sum()

Unnamed: 0             0
id1                    0
Description1          20
id2                    0
Description2          14
Type of dependency     0
dtype: int64

In [53]:
ber.drop(['Unnamed: 0'],axis=1,inplace=True)

In [54]:
ber.dropna(inplace=True)
ber = ber.reset_index(drop=True)

In [55]:
ber.head()

     id1  ... Type of dependency
0  34556  ...            relates
1  30459  ...             blocks
2  34495  ...            relates
3  34340  ...            relates
4  33383  ...            relates

[5 rows x 5 columns]

In [56]:
ber.isnull().sum()

id1                   0
Description1          0
id2                   0
Description2          0
Type of dependency    0
dtype: int64

In [57]:
def isEnglish(s):
  return s.isascii()

a1 , a2 = [] , []
a = ber['Description1'].values
b = ber['Description2'].values

for i in range(len(a)):
  if isEnglish(a[i])==False:
    a1.append(i)
for j in range(len(b)):
  if isEnglish(b[j])==False:
    a2.append(j)

print(len(a1))
print(len(a2))
a3 = list(set(a1+a2))
print(len(a3))

ber.drop(a3,inplace=True)
ber = ber.reset_index(drop=True)

6
16
22

In [58]:
# Sentence Length Analysis
y1,y2 = [],[]
y = ber['Description1']
z = ber['Description2']
for i in range(len(y)):
  q = y[i].split(' ')
  if len(q) <2:
    y1.append(i)
for i in range(len(y)):
  q1 = z[i].split(' ')
  if len(q1) <2:
    y2.append(i)
print(len(y1))
print(len(y2))
q2 = list(set(y1+y2))
ber.drop(q2,inplace=True)
ber = ber.reset_index(drop=True)

8
20

In [59]:
#ber.to_csv('/content/drive/MyDrive/SENG 607/Redmine_Processed_BERTPos_modified.csv')

**BERT independent**

In [72]:
beri = pd.read_csv('/content/drive/MyDrive/SENG 607/Redmine_Processed_BERTNeg_init_modified.csv')

In [73]:
beri.drop(['Unnamed: 0'],axis=1,inplace=True)

In [74]:
beri.head()

     id1  ... Type of dependency
0   1497  ...        independent
1  24188  ...        independent
2  10523  ...        independent
3  12888  ...        independent
4  12559  ...        independent

[5 rows x 5 columns]

In [75]:
beri.shape

(10000, 5)

In [76]:
beri.isnull().sum()

id1                    0
Description1          34
id2                    0
Description2          31
Type of dependency     0
dtype: int64

In [77]:
beri.dropna(inplace=True)
beri = beri.reset_index(drop=True)

In [78]:
beri.head()

     id1  ... Type of dependency
0   1497  ...        independent
1  24188  ...        independent
2  10523  ...        independent
3  12888  ...        independent
4  12559  ...        independent

[5 rows x 5 columns]

In [79]:
beri.isnull().sum()

id1                   0
Description1          0
id2                   0
Description2          0
Type of dependency    0
dtype: int64

In [80]:
beri.shape

(9935, 5)

In [81]:
def isEnglish(s):
  return s.isascii()

a1 , a2 = [] , []
a = beri['Description1'].values
b = beri['Description2'].values

for i in range(len(a)):
  if isEnglish(a[i])==False:
    a1.append(i)
for j in range(len(b)):
  if isEnglish(b[j])==False:
    a2.append(j)

print(len(a1))
print(len(a2))
a3 = list(set(a1+a2))
print(len(a3))

beri.drop(a3,inplace=True)
beri = beri.reset_index(drop=True)

153
181
332

In [82]:
# Sentence Length Analysis
y1,y2 = [],[]
y = beri['Description1']
z = beri['Description2']
for i in range(len(y)):
  q = y[i].split(' ')
  if len(q) <2:
    y1.append(i)
for i in range(len(y)):
  q1 = z[i].split(' ')
  if len(q1) <2:
    y2.append(i)
print(len(y1))
print(len(y2))
q2 = list(set(y1+y2))
beri.drop(q2,inplace=True)
beri = beri.reset_index(drop=True)

101
110

In [86]:
beri.isnull().sum()

id1                   0
Description1          0
id2                   0
Description2          0
Type of dependency    0
dtype: int64

In [87]:
beri.shape

(9393, 5)

In [88]:
#beri.to_csv('/content/drive/MyDrive/SENG 607/Redmine_Processed_BERTNeg_modified.csv')